.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  -webkit-align-items: center;
  align-items: center;
  background-color: #0c395d;
  z-index: 1002;
}

.navbar h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.navbar button {
  position: absolute;
  width: 60px !important;
  height: 100%;
}

.navbar button .pi-bars{
  font-size: 30px;
}